/*------------------------------------------------------VIEW FRONTEND--------------------------------------------------------------------------*/


/*------------------------------------------------------- Template-----------------------------------------------------------------------------*/

.background {
    background-color: azure;
}


/*--------------------------------------------------------Homepage-----------------------------------------------------------------------------*/

.background2 {
    margin: 0;
    padding: 0;
    background: url('/public/images/alaska8.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardisée */
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 100px;
    color: rgb(58, 50, 50);
}

.page {
    min-height: 100vh;
}

.welcomeText {
    font-size: 20px;
}

footer {
    justify-content: center;
    text-align: center;
    background-color: #d7eaf8;
    padding: 25px;
}


/*------------------------------------------------------ListPostsView------------------------------------------------------------------------*/

.titre {
    position: absolute;
    color: azure;
    font-family: 'Lobster', cursive;
}

.banner {
    position: relative;
}


/*---------------------------------------------------------PostView-------------------------------------------------------------------------*/

.titre2 {
    color: black;
    font-family: 'Lobster', cursive;
}


/*-----------------------------------------------------------About---------------------------------------------------------------------------*/

.author {
    color: darkgoldenrod;
    font-style: italic;
}


/*-------------------------------------------------------MEDIA-QUERIES-----------------------------------------------------------------------*/


/*------------------------------------------------------VIEW FRONTEND--------------------------------------------------------------------------*/


/*-----------------------------------------------------------About---------------------------------------------------------------------------*/

@media all and (max-width:768px) {
    .jeanPic {
        display: none;
    }
    /*---------------------------------------------------------homepage------------------------------------------------------------------------*/
    .middle {
        font-size: 40px;
    }
    .welcomeText {
        font-size: 15px;
    }
    /*----------------------------------------------------VIEW BACKEND---------------------------------------------------------------------*/
    /*------------------------------------------------------AdminLogin----------------------------------------------------------------------*/
    .avatar {
        display: none;
    }
}