/*.banner {
    background-image: url('/public/images/boreal.jpg');
    height: 450px;
}*/

.background {
    background-color: azure;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    background-color: rgb(214, 214, 194);
    padding: 25px;
}